@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--bg-primary);
  --foreground: var(--text-primary);
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}
* {
  margin: 0;
}
#__next,
body,
html {
  width: 100%;
  height: 100%;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-wrap: break-word;
}
a {
  text-decoration: none;
}
#__next {
  isolation: isolate;
}
:root {
  --site-width: 69.75rem;
  --spacing-layout-vertical: 3.5rem;
  --spacing-layout-horizontal: 1.5rem;
  --header-height: 3rem;
  --spacing-layout-xxs: 0.5rem;
  --spacing-layout-xs: 1rem;
  --spacing-layout-sm: 1.25rem;
  --spacing-layout-md: 1.5rem;
  --spacing-layout-lg: 2rem;
  --spacing-layout-xl: 3rem;
  --spacing-section-xs: 5.5rem;
  --spacing-section-sm: 7rem;
  --spacing-section-md: 9rem;
  --spacing-section-lg: 12rem;
  --spacing-section-xl: 15rem;
  --spacing-form-xs: 0.5rem;
  --spacing-form-sm: 0.875rem;
  --spacing-form-md: 1rem;
  --spacing-form-lg: 1.125rem;
  --spacing-form-xl: 1.25rem;
  --full-height: calc(100vh - var(--header-height));
}
@media (min-width: 36rem) {
  :root {
    --spacing-layout-horizontal: 2.5rem;
    --spacing-layout-vertical: 4.5rem;
  }
}
@media (min-width: 48rem) {
  :root {
    --spacing-layout-horizontal: 3.75rem;
    --spacing-layout-vertical: 5.75rem;
    --header-height: 3.5rem;
  }
}
@media (min-width: 62rem) {
  :root {
    --spacing-layout-horizontal: 5.625rem;
    --spacing-layout-vertical: 6.25rem;
  }
}
@media (min-width: 75rem) {
  :root {
    --spacing-layout-horizontal: 6.875rem;
  }
}
@media (min-width: 87.5rem) {
  :root {
    --spacing-layout-horizontal: 10rem;
  }
}
:root {
  --color-white: #fff;
  --color-white-rgb: 255 255 255;
  --color-black: #000;
  --color-black-rgb: 0 0 0;
  --color-background: var(--color-black);
  --color-alabaster: #fafafa;
  --color-mercury: #f9f9fa;
  --color-el-salva: #832a38;
  --color-brink-pink: #ff7285;
  --color-crimson: #cf155b;
  --color-brink-pink-rgb: 255 114 133;
  --color-athens-gray: #f6f6f8;
  --color-athens-gray-rgb: 246 246 248;
  --color-suva-gray: #827e82;
  --color-gray: #888;
  --color-mine-shaft: #242424;
  --color-machine-gun-metal: #454545;
  --color-heavy-metal: #323232;
  --color-shark: #1d1d1f;
  --color-mako: #1f2123;
  --color-cod-gray: #191919;
  --color-woodsmoke: #111113;
  --color-silver: #c4c4c4;
  --color-gallery: #eaeaea;
  --color-science-blue: #06c;
  --color-azure-radiance: #0082ff;
  --color-azure-radiance-rgb: 0 130 255;
  --color-salomie: #ffdf80;
  --color-baltic-sea: #2e2c2f;
  --color-ninja: #04000a;
  --color-chaos-black: #101010;
  --color-grams-hair: #f5f5f7;
  --color-backlight: #fcf0e7;
  --color-dim-grey: #696969;
  --color-lightish-blue: #3c72ff;
  --color-blue-genie: #6066ff;
  --color-hollandaise: #fef346;
  --color-skinny-jeans: #5889ff;
  --color-baby-blossom-rgb: 252 241 234;
  --selection-color-light: rgba(0, 0, 0, 0.2);
  --selection-color-dark: hsla(0, 0%, 100%, 0.2);
  --color-light: #fff;
  --color-dark: #000;
  --color-border: #c4c4c4;
  --color-input: #a5a5a5;
  --color-progress: #0683ff;
  --color-success: #28af6e;
  --gradient-radial-watermelon: radial-gradient(
      132.61% 97.97% at 91.81% 2.03%,
      #ffdf80 0%,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      69.89% 67.91% at 0% 97.34%,
      #f76751 0%,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      87.41% 84.93% at 57.86% 107.62%,
      #7174c7 0%,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      71.17% 69.15% at 6.69% 5.32%,
      #ffa57a 0%,
      rgba(252, 87, 110, 0) 100%
    ),
    #fc576e;
  --gradient-radial-matrix: radial-gradient(
      51.55% 11.56% at 48.45% 81.5%,
      #fff 0%,
      rgba(84, 87, 187, 0) 100%
    ),
    linear-gradient(92.71deg, #b56564 22.33%, #875b79 96.66%);
  --gradient-radial-carnation: radial-gradient(
      138.58% 45.21% at 9.53% 87.06%,
      #f76751 0%,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      44.68% 82.62% at 53.47% -3.01%,
      #ffdf80 0%,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      102.74% 137.23% at 102.74% 52.84%,
      #7174c7 0%,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      124.04% 120.52% at 11.26% 46.18%,
      #ffa57a 0%,
      rgba(252, 87, 110, 0) 100%
    ),
    #fc576e;
  --gradient-radial-violet: radial-gradient(
      70.25% 219.43% at -17.57% 67.12%,
      #9c1177 0%,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      89.86% 280.69% at 100% 147.83%,
      #9699ff 4.96%,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      564.71% 106.38% at 50.82% 132.74%,
      rgba(255, 165, 122, 0.3) 0%,
      rgba(252, 87, 110, 0.3) 74.48%,
      rgba(252, 87, 110, 0) 80.73%
    ),
    #fc576e;
  --gradient-radial-dove-gray: radial-gradient(
      45.44% 92.07% at 44.55% 49.18%,
      rgba(252, 87, 110, 0.32) 0%,
      hsla(0, 0%, 50%, 0) 100%
    ),
    radial-gradient(
      49.67% 100.64% at 56.32% 70.78%,
      rgba(0, 223, 255, 0.25) 0%,
      hsla(0, 0%, 50%, 0) 100%
    ),
    #737373;
  --gradient-radial-cod-gray: radial-gradient(
      42.51% 86.13% at 44.55% 49.18%,
      rgba(252, 87, 110, 0.32) 0%,
      hsla(0, 0%, 9%, 0) 100%
    ),
    radial-gradient(
      72.37% 79.32% at 56.32% 70.78%,
      rgba(0, 223, 255, 0.25) 0%,
      hsla(0, 0%, 9%, 0) 100%
    ),
    #181818;
  --gradient-radial-santa-fe: radial-gradient(
      138.78% 138.78% at 51.7% -19.03%,
      transparent 0%,
      #000 100%
    ),
    radial-gradient(
      120.2% 332.37% at 23.49% 0%,
      #c18662 0%,
      #bb6c5a 43.73%,
      rgba(68, 52, 111, 0) 100%
    ),
    radial-gradient(
      98.82% 378.63% at 93.92% -6.95%,
      #7174c7 0%,
      transparent 100%
    ),
    #000;
  --gradient-radial-boulder: radial-gradient(
    120.96% 120.96% at 50% -20.96%,
    #696969 0%,
    hsla(0, 0%, 100%, 0.8) 100%
  );
  --gradient-linear-tacha: linear-gradient(
    92.71deg,
    #74c28b 22.33%,
    #cfc562 96.66%
  );
  --gradient-linear-baltic-sea: linear-gradient(180deg, #1d1b20, #521f42);
  --gradient-linear-deep-blush: linear-gradient(90deg, #2928bc -1.79%, #ed6aa5);
  --gradient-purple: linear-gradient(90deg, #2928bc -1.79%, #ed6aa5);
  --gradient-pink: linear-gradient(90deg, #b56564 22.33%, #875b79 96.66%);
  --gradient-blue: linear-gradient(90deg, #0082ff -1.79%, #edc86a);
  --gradient-white: radial-gradient(
    120.96% 120.96% at 50% -20.96%,
    #696969 0%,
    hsla(0, 0%, 100%, 0.78) 100%
  );
  --animation-fade-in: fade-in 1000ms forwards;
  --animation-fade-out: fade-out 1000ms forwards;
  --animation-zoom-in: zoom-in 1000ms forwards;
  --animation-zoom-out: zoom-out 1000ms forwards;
  --animation-slide-up: slide-up 1000ms forwards;
  --animation-pulse: pulse 1600ms infinite;
}

@font-face {
  font-family: Helvetica Now Display;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/assets/HelveticaNowDisplay-300-Light.woff2) format('woff2'),
    url(/assets/HelveticaNowDisplay-300-Light.woff) format('woff');
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}

@font-face {
  font-family: Helvetica Now Display;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(/assets/HelveticaNowDisplay-300-LightItalic.woff2) format('woff2'),
    url(/assets/HelveticaNowDisplay-300-LightItalic.woff) format('woff');
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}

@font-face {
  font-family: Helvetica Now Display;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/assets/HelveticaNowDisplay-400-Regular.woff2) format('woff2'),
    url(/assets/HelveticaNowDisplay-400-Regular.woff) format('woff');
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}

@font-face {
  font-family: Helvetica Now Display;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(/assets/HelveticaNowDisplay-400-RegularItalic.woff2) format('woff2'),
    url(/assets/HelveticaNowDisplay-400-RegularItalic.woff) format('woff');
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}

@font-face {
  font-family: Helvetica Now Display;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(/assets/HelveticaNowDisplay-500-Medium.woff2) format('woff2'),
    url(/assets/HelveticaNowDisplay-500-Medium.woff) format('woff');
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}

@font-face {
  font-family: Helvetica Now Display;
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url(/assets/HelveticaNowDisplay-500-MediumItalic.woff2) format('woff2'),
    url(/assets/HelveticaNowDisplay-500-MediumItalic.woff) format('woff');
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}

@font-face {
  font-family: Helvetica Now Display;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(/assets/HelveticaNowDisplay-700-Bold.woff2) format('woff2'),
    url(/assets/HelveticaNowDisplay-700-Bold.woff) format('woff');
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}

@font-face {
  font-family: Helvetica Now Display;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(/assets/HelveticaNowDisplay-700-BoldItalic.woff2) format('woff2'),
    url(/assets/HelveticaNowDisplay-700-BoldItalic.woff) format('woff');
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 1.875rem, 0) scaleX(1) rotateX(0deg) rotateY(0deg)
      rotate(0deg) skew(0deg, 0deg);
  }
  to {
    transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(0deg)
      skew(0deg, 0deg);
  }
}

@keyframes zoom-in {
  0% {
    transform: translateZ(0) scale3d(0.95, 0.95, 1) rotateX(0deg) rotateY(0deg)
      rotate(0deg) skew(0deg, 0deg);
  }
  to {
    transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(0deg)
      skew(0deg, 0deg);
  }
}

@keyframes zoom-in-big {
  0% {
    transform: translateZ(0) scale3d(0.3, 0.3, 1) rotateX(0deg) rotateY(0deg)
      rotate(0deg) skew(0deg, 0deg);
  }
  to {
    transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(0deg)
      skew(0deg, 0deg);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
  }
  to {
    box-shadow: 0 0 0 0.5rem rgba(255, 0, 0, 0);
  }
}

body,
html {
  font-family: Helvetica Now Display, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen,
    Open Sans, Helvetica Neue;
  font-feature-settings: 'zero' on, 'salt' on;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}
::-moz-selection {
  background-color: rgb(var(--color-brink-pink-rgb) / 20%);
}
::selection {
  background-color: rgb(var(--color-brink-pink-rgb) / 20%);
}
.focus-visible {
  outline: 0.1875rem dotted var(--color-science-blue);
  outline-offset: 0.1875rem;
}
:focus-visible {
  outline: 0.1875rem dotted var(--color-science-blue);
  outline-offset: 0.1875rem;
}

@media not all and (-webkit-min-device-pixel-ratio: 0),
  not all and (min-resolution: 0.001dpcm) {
  img[loading='lazy'] {
    -webkit-clip-path: inset(0.03125rem);
    clip-path: inset(0.03125rem);
  }
}

/* Global button */
.Button_button {
  --border-width: 0.0625rem;
  --gap: 0.625rem;
  --transition-duration: 300ms;
  --loading-items-animation-duration: 500ms;
  --padding-vertical: 0.25rem;
  --padding-horizontal: 1.125rem;
  cursor: pointer;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.75rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.014em;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: var(--border-width);
  border-radius: 3.875rem;
  transition-duration: var(--transition-duration);
  transition-property: background-color, color, border-color;
}
.Button_button__children {
  padding: 0.3125rem 0;
  transition-duration: var(--loading-items-animation-duration);
  transition-property: transform, opacity;
}
.Button_button__children--with-number {
  padding: 0;
}
.Button_button__children--loading__tkUAS {
  transform: translateY(-30%);
  opacity: 0;
}
.Button_button__children--node-children__cYE1n {
  padding: 0.3125rem 0.6875rem;
}
@media (min-width: 48rem) {
  .Button_button__children {
    padding: 0.75rem 0;
  }
  .Button_button__children--node-children__cYE1n {
    padding: 0.75rem 0.6875rem;
  }
}
.Button_button__spinner {
  position: absolute;
  transform: translateY(40%);
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  align-content: center;
  height: 100%;
  opacity: 0;
  transition-duration: var(--loading-items-animation-duration);
  transition-property: opacity, transform, visibility;
}
.Button_button__spinner span {
  transform: scale(0.7);
  width: 0.75rem;
  height: 0.75rem;
  opacity: 0.2;
  border-radius: 50%;
  animation: Button_spin__1Mwss 1.5s ease-in-out infinite forwards;
  animation-play-state: paused;
}
.Button_button__spinner span:nth-child(2) {
  animation-delay: 0.5s;
}
.Button_button__spinner span:nth-child(3) {
  animation-delay: 1s;
}
.Button_button__spinner--loading__m7e3t {
  transform: translateY(0);
  opacity: 1;
}
.Button_button__spinner--loading__m7e3t span {
  animation-play-state: running;
}
.Button_button--with-number {
  padding-right: 0.25rem;
}
.Button_button--full-width {
  width: 100%;
}
.Button_button--radius-small {
  border-radius: 0.75rem;
}
.Button_button--radius-large {
  border-radius: 3.875rem;
}
.Button_button--variant-filled-dark {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-black);
}
.Button_button--variant-filled-dark:not(.Button_button--disabled__Cw0Va):hover {
  background-color: #1c1c1c;
  border-color: #1c1c1c;
}
.Button_button--variant-filled-dark .Button_button__end-icon,
.Button_button--variant-filled-dark .Button_button__start-icon {
  --icon-color: var(--color-white);
}
.Button_button--variant-filled-dark .Button_button__spinner span {
  background-color: var(--color-white);
}
.Button_button--variant-filled-light {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-white);
}
.Button_button--variant-filled-light:not(
    .Button_button--disabled__Cw0Va
  ):hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.Button_button--variant-filled-light .Button_button__end-icon,
.Button_button--variant-filled-light .Button_button__start-icon {
  --icon-color: var(--color-black);
}
.Button_button--variant-filled-light .Button_button__spinner span {
  background-color: var(--color-black);
}
.Button_button--variant-colorful-dark,
.Button_button--variant-outlined-dark,
.Button_button--variant-outlined-light {
  position: relative;
  transition: color var(--transition-duration);
}
.Button_button--variant-colorful-dark:after,
.Button_button--variant-colorful-dark:before,
.Button_button--variant-outlined-dark:after,
.Button_button--variant-outlined-dark:before,
.Button_button--variant-outlined-light:after,
.Button_button--variant-outlined-light:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: var(--inset);
  right: var(--inset);
  bottom: var(--inset);
  left: var(--inset);
  border-radius: inherit;
}
.Button_button--variant-colorful-dark:before,
.Button_button--variant-outlined-dark:before,
.Button_button--variant-outlined-light:before {
  --inset: calc(var(--border-width) * -1);
  background: linear-gradient(90deg, #2928bc, #ed6aa5);
}
.Button_button--variant-colorful-dark:after,
.Button_button--variant-outlined-dark:after,
.Button_button--variant-outlined-light:after {
  --inset: var(--border-width);
  transition: background-color var(--transition-duration);
}
.Button_button--variant-colorful-dark:not(
    .Button_button--disabled__Cw0Va
  ):hover:after,
.Button_button--variant-outlined-dark:not(
    .Button_button--disabled__Cw0Va
  ):hover:after,
.Button_button--variant-outlined-light:not(
    .Button_button--disabled__Cw0Va
  ):hover:after {
  background-color: transparent;
}
.Button_button--variant-colorful-dark:before {
  background: linear-gradient(92.71deg, #b56564 22.33%, #875b79 96.66%);
}
.Button_button--variant-colorful-dark,
.Button_button--variant-outlined-dark {
  color: var(--color-white);
}
.Button_button--variant-colorful-dark:after,
.Button_button--variant-outlined-dark:after {
  background-color: var(--color-black);
}
.Button_button--variant-colorful-dark .Button_button__end-icon,
.Button_button--variant-colorful-dark .Button_button__start-icon,
.Button_button--variant-outlined-dark .Button_button__end-icon,
.Button_button--variant-outlined-dark .Button_button__start-icon {
  --icon-color: var(--color-white);
}
.Button_button--variant-colorful-dark .Button_button__spinner span,
.Button_button--variant-outlined-dark .Button_button__spinner span {
  background-color: var(--color-white);
}
.Button_button--variant-outlined-light {
  color: var(--color-black);
}
.Button_button--variant-outlined-light:after {
  background-color: var(--color-white);
}
.Button_button--variant-outlined-light:not(
    .Button_button--disabled__Cw0Va
  ):hover {
  color: var(--color-white);
}
.Button_button--variant-outlined-light .Button_button__end-icon,
.Button_button--variant-outlined-light .Button_button__start-icon {
  --icon-color: var(--color-black);
}
.Button_button--variant-outlined-light:not(
    .Button_button--disabled__Cw0Va
  ):active
  .Button_button__end-icon,
.Button_button--variant-outlined-light:not(
    .Button_button--disabled__Cw0Va
  ):active
  .Button_button__start-icon {
  --icon-color: var(--color-white);
}
.Button_button--variant-outlined-light .Button_button__spinner span {
  background-color: var(--color-black);
}
.Button_button--disabled__Cw0Va {
  cursor: not-allowed;
}
.Button_button__end-icon,
.Button_button__start-icon {
  --icon-color: var(--color-black);
}
.Button_button__end-icon path,
.Button_button__start-icon path {
  transition-duration: var(--transition-duration);
  transition-property: stroke, fill;
}
.Button_button__end-icon--fill__IIr_i path,
.Button_button__start-icon--fill path {
  fill: var(--icon-color);
}
.Button_button__end-icon--stroke path,
.Button_button__start-icon--stroke path {
  stroke: var(--icon-color);
}
.Button_button__start-icon {
  margin-right: var(--gap);
}
.Button_button__end-icon {
  margin-left: var(--gap);
}
.Button_button__number {
  --size: 2.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size);
  min-height: var(--size);
  margin-left: var(--gap);
  padding: 0 0.3125rem;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.32;
  border-radius: 6.25rem;
}
@media (min-width: 48rem) {
  .Button_button__number {
    --size: 2.625rem;
  }
}
.Button_button--variant-colorful-dark .Button_button__number,
.Button_button--variant-outlined-dark .Button_button__number {
  color: var(--color-black);
  background-color: var(--color-white);
}
.Button_button--variant-filled-light .Button_button__number {
  color: var(--color-white);
  background-color: var(--color-black);
}
.Button_button--variant-outlined-light:not(
    .Button_button--disabled__Cw0Va
  ):hover
  .Button_button__end-icon,
.Button_button--variant-outlined-light:not(
    .Button_button--disabled__Cw0Va
  ):hover
  .Button_button__start-icon {
  --icon-color: var(--color-white);
}
@media (min-width: 48rem) {
  .Button_button {
    --padding-vertical: 0;
    --padding-horizontal: 1.5rem;
    min-height: 3.25rem;
    font-size: 1.125rem;
    letter-spacing: 0.01438rem;
  }
  .Button_button--with-number {
    padding-right: 0.25rem;
  }
}
@keyframes Button_spin__1Mwss {
  0% {
    transform: scale(0.7);
    opacity: 0.2;
  }
  13% {
    transform: scale(1);
    opacity: 1;
  }
  19% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(0.7);
    opacity: 0.2;
  }
  to {
    transform: scale(0.7);
    opacity: 0.2;
  }
}

.Text_text__yIi78 {
  margin: 0;
  padding: 0;
}
.Text_text--gradient-orange {
  background: radial-gradient(
      29.77% 64.42% at 9.53% 92.39%,
      #f76751 0,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      132.71% 151.47% at 102.8% 66.18%,
      #7174c7 0,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      30.6% 32.1% at 6.69% 19.8%,
      #ffa57a 0,
      rgba(252, 87, 110, 0) 100%
    ),
    linear-gradient(0deg, #fc576e, #fc576e);
  -webkit-background-clip: text;
  background-clip: text;
}
.Text_text--gradient-orange,
.Text_text--gradient-white {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
}
.Text_text--gradient-white {
  background: linear-gradient(
    109.42deg,
    #0200ff -24.87%,
    #ffa2cc 31.51%,
    #fff 74.44%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
.Text_text--gradient-gray {
  background: radial-gradient(
    120.96% 120.96% at 50% -20.96%,
    #696969 0,
    hsla(0, 0%, 100%, 0.78) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
.Text_text--gradient-gray,
.Text_text--gradient-purple {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
}
.Text_text--gradient-purple {
  background: radial-gradient(
      142.84% 207.27% at 92.67% 121.98%,
      #9699ff 4.96%,
      rgba(252, 87, 110, 0) 60%
    ),
    radial-gradient(
      81.04% 70.42% at -20.7% -3.3%,
      #9c1177 0,
      rgba(252, 87, 110, 0) 100%
    ),
    radial-gradient(
      1486.41% 280% at 50.82% -182.94%,
      #ffa57a 0,
      #fc576e 74.48%,
      rgba(252, 87, 110, 0) 100%
    ),
    #1529c8;
  -webkit-background-clip: text;
  background-clip: text;
}
.Text_text--weight-light__GzGNF {
  font-weight: 300;
}
.Text_text--weight-regular {
  font-weight: 400;
}
.Text_text--weight-medium {
  font-weight: 500;
}
.Text_text--weight-bold {
  font-weight: 700;
}
.Text_text--display-xl {
  font-size: 3rem;
  line-height: 3.25rem;
  letter-spacing: -0.00875rem;
}
@media (min-width: 48rem) {
  .Text_text--display-xl {
    font-size: 4.5rem;
    line-height: 1.1;
    letter-spacing: 0.009rem;
  }
}
@media (min-width: 75rem) {
  .Text_text--display-xl {
    font-size: 6rem;
  }
}
.Text_text--display-l {
  font-size: 4.5rem;
  line-height: 0.94;
  letter-spacing: 0.005em;
}
.Text_text--display-m {
  font-size: 2.25rem;
  line-height: 2.8125rem;
  letter-spacing: -0.01rem;
}
@media (min-width: 48rem) {
  .Text_text--display-m {
    font-size: 3rem;
    line-height: 1.06;
    letter-spacing: -0.02313rem;
  }
}
@media (min-width: 75rem) {
  .Text_text--display-m {
    font-size: 4rem;
  }
}
.Text_text--display-s {
  font-size: 2.25rem;
  line-height: 1.23;
  letter-spacing: -0.01rem;
}
@media (min-width: 48rem) {
  .Text_text--display-s {
    font-size: 2.625rem;
    letter-spacing: -0.00875rem;
  }
}
@media (min-width: 75rem) {
  .Text_text--display-s {
    font-size: 3rem;
    letter-spacing: -0.00875rem;
  }
}
.Text_text--display-xs {
  font-size: 1.5rem;
  line-height: 1.1666em;
  letter-spacing: 0.002em;
}
@media (min-width: 48rem) {
  .Text_text--display-xs {
    font-size: 1.6875rem;
    line-height: 1.2;
  }
}
@media (min-width: 75rem) {
  .Text_text--display-xs {
    font-size: 1.875rem;
  }
}
.Text_text--headline-xxl {
  font-size: 1.5rem;
  line-height: 1.1666em;
  letter-spacing: 0.002em;
}
@media (min-width: 48rem) {
  .Text_text--headline-xxl {
    font-size: 2.25rem;
    line-height: 1.0833;
    letter-spacing: -0.00875rem;
  }
}
@media (min-width: 75rem) {
  .Text_text--headline-xxl {
    font-size: 3rem;
  }
}
.Text_text--headline-xl {
  font-size: 1.5rem;
  line-height: 1.1666em;
  letter-spacing: 0.002em;
}
@media (min-width: 48rem) {
  .Text_text--headline-xl {
    font-size: 1.875rem;
    letter-spacing: normal;
  }
}
@media (min-width: 75rem) {
  .Text_text--headline-xl {
    font-size: 2.25rem;
  }
}
.Text_text--headline-l {
  font-size: 1.5rem;
  line-height: 1.1666em;
  letter-spacing: 0.002em;
}
@media (min-width: 48rem) {
  .Text_text--headline-l {
    font-size: 1.625rem;
    line-height: 1.29;
    letter-spacing: 0.00875rem;
  }
}
@media (min-width: 75rem) {
  .Text_text--headline-l {
    font-size: 1.75rem;
  }
}
.Text_text--headline-m {
  font-size: 1.0625rem;
  line-height: 1.3125rem;
  letter-spacing: 0.0024em;
}
@media (min-width: 48rem) {
  .Text_text--headline-m {
    font-size: 1.375rem;
    line-height: 1.5;
    letter-spacing: normal;
  }
}
@media (min-width: 75rem) {
  .Text_text--headline-m {
    font-size: 1.5rem;
  }
}
.Text_text--headline-m--extra-height {
  font-size: 1.125rem;
  line-height: 1.78;
  letter-spacing: 0.0024em;
}
@media (min-width: 48rem) {
  .Text_text--headline-m--extra-height {
    font-size: 1.375rem;
    line-height: 1.5;
    letter-spacing: normal;
  }
}
@media (min-width: 75rem) {
  .Text_text--headline-m--extra-height {
    font-size: 1.5rem;
  }
}
.Text_text--headline-s {
  font-size: 1rem;
  line-height: 1.8125rem;
  letter-spacing: -0.02313rem;
}
@media (min-width: 48rem) {
  .Text_text--headline-s {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.01774rem;
  }
}
@media (min-width: 75rem) {
  .Text_text--headline-s {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
.Text_text--body-xl {
  font-size: 1.0625rem;
  line-height: 1.24;
  letter-spacing: 0.0024em;
}
@media (min-width: 48rem) {
  .Text_text--body-xl {
    font-size: 1.375rem;
    line-height: 1.46;
    letter-spacing: 0.005em;
  }
}
@media (min-width: 75rem) {
  .Text_text--body-xl {
    font-size: 1.5rem;
  }
}
.Text_text--body-l--low-height,
.Text_text--body-l {
  font-size: 1.0625rem;
  line-height: 1.3125rem;
  letter-spacing: 0.0024em;
}
@media (min-width: 48rem) {
  .Text_text--body-l--low-height,
  .Text_text--body-l {
    font-size: 1.125rem;
    line-height: 1.6;
    letter-spacing: 0.01em;
  }
}
@media (min-width: 75rem) {
  .Text_text--body-l--low-height,
  .Text_text--body-l {
    font-size: 1.25rem;
  }
}
@media (min-width: 48rem) {
  .Text_text--body-l--low-height {
    line-height: 1.2;
  }
}
.Text_text--body-m {
  font-size: 1.0625rem;
  line-height: 1.3125rem;
  letter-spacing: 0.0024em;
}
@media (min-width: 48rem) {
  .Text_text--body-m {
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.0024em;
  }
}
@media (min-width: 75rem) {
  .Text_text--body-m {
    font-size: 1rem;
  }
}
.Text_text--body-s {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.0024em;
}
@media (min-width: 48rem) {
  .Text_text--body-s {
    font-size: 0.6875rem;
  }
}
@media (min-width: 62rem) {
  .Text_text--body-s {
    font-size: 0.75rem;
  }
}
@media (min-width: 75rem) {
  .Text_text--body-s {
    font-size: 0.875rem;
  }
}
.Text_text--link-xxl {
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.01em;
}
.Text_text--meta-title__Hy8qF {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
.Text_text--meta-body__Lhd1c {
  font-size: 1.625rem;
  line-height: 2rem;
  letter-spacing: 0.005em;
}
.Text_text--footer-title {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.01774rem;
}
.Text_text--footer-link {
  font-size: 1rem;
  line-height: 1.88;
  letter-spacing: -0.01774rem;
  opacity: 0.7;
}
@media (min-width: 48rem) {
  .Text_text--footer-link {
    font-size: 0.875rem;
    line-height: 2.1428;
  }
}
.Text_text--footer-body {
  font-size: 0.875rem;
  line-height: 1.5714;
  letter-spacing: -0.01774rem;
  opacity: 0.6;
}

.SocialLinks_social-links {
  display: flex;
  align-items: center;
}
.SocialLinks_social-links > :not(:last-child) {
  margin-right: var(--gap);
}
.SocialLinks_social-links--size-small {
  --gap: 0;
}
.SocialLinks_social-links--size-large {
  --gap: 0.75rem;
}
.SocialLinks_link {
  transform: translateZ(0);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.SocialLinks_link:hover {
  transform: translateZ(0);
  opacity: 0.7;
}
.SocialLinks_link svg {
  width: var(--size);
  height: var(--size);
}
.SocialLinks_link--size-small {
  --size: 2.1875rem;
}
.SocialLinks_link--size-large {
  --size: 2.5rem;
}
.SocialLinks_link--light svg path {
  fill: var(--color-black);
}
.SocialLinks_link--blurred,
.SocialLinks_link--dark {
  opacity: 1;
}
.SocialLinks_link--blurred svg path,
.SocialLinks_link--dark svg path {
  fill: var(--color-white);
}

/* Input */
.Input_input {
  --offset-x: 1rem;
  --offset-y: 1.25rem;
  --input-offset: calc(var(--offset-y) / 2);
  --font-size: 1.0625rem;
  --line-height: 1.3;
  position: relative;
  display: block;
}
.Input_input::-moz-placeholder {
  color: transparent;
}
.Input_input::placeholder {
  color: transparent;
}
.Input_input__input {
  width: 100%;
  height: 3.5rem;
  padding: calc(var(--offset-y) + var(--input-offset) - 0.375rem)
    var(--offset-x) calc(var(--offset-y) - var(--input-offset) - 0.125rem);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.02338rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-radius: 0.75rem;
  transition-duration: 0.2s;
  transition-property: border-color, box-shadow;
}
.Input_input__input--textarea {
  resize: vertical;
  min-height: 11rem;
  max-height: 31.25rem;
}
.Input_input__input--light {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: #d2d2d7;
}
.Input_input__input--light:focus {
  border-color: #0071e3;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(0, 125, 250, 0.6);
}
.Input_input__input--dark {
  color: var(--color-white);
  background: var(--color-black);
  border: 0.0625rem solid #626262;
}
.Input_input__input--dark:focus {
  border-color: var(--color-white);
  outline: none;
}
.Input_input__input--transparent {
  color: var(--color-white);
  background-color: transparent;
  border-color: hsla(0, 0%, 100%, 0.6);
}
.Input_input__input--transparent:focus {
  border-color: var(--color-white);
  outline: none;
}
.Input_input__input--error {
  border-color: #d02c1e;
}
.Input_input__input--error:not(:focus) {
  background: rgba(208, 44, 30, 0.06);
}
.Input_placeholder {
  pointer-events: none;
  position: absolute;
  top: calc(var(--offset-y) - 0.25rem);
  left: var(--offset-x);
  transform-origin: left;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
  color: #86868b;
  letter-spacing: -0.02338rem;
  border: 0.0625rem solid transparent;
  transition-timing-function: ease-in;
  transition-duration: 125ms;
  transition-property: font-size, top;
}
.Input_input__input--transparent + .Input_placeholder {
  color: var(--color-white);
}
.Input_input__input--error + .Input_placeholder {
  color: #d02c1e;
}
.Input_input__input:not(:-moz-placeholder-shown) + .Input_placeholder {
  top: calc(var(--input-offset) - 0.0625rem);
  font-size: 0.75rem;
}
.Input_input__input:focus + .Input_placeholder,
.Input_input__input:not(:placeholder-shown) + .Input_placeholder {
  top: calc(var(--input-offset) - 0.0625rem);
  font-size: 0.75rem;
}
.Input_error {
  display: flex;
  margin-top: 0.375rem;
  font-size: 0.75rem;
}
.Input_error__icon {
  flex-shrink: 0;
  margin-top: 0.25em;
}
.Input_error__message {
  margin-left: 0.25rem;
  color: #d02c1e;
}

/* Scroll handle */
.ScrollHandle_scroll-handle {
  cursor: pointer;
  display: none;
  justify-content: center;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: transparent;
  border: 0;
}
.ScrollHandle_scroll-handle__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-white);
  border-radius: 6.25rem;
}
.ScrollHandle_scroll-handle__arrow {
  position: relative;
  top: 0.25rem;
  width: 0.75rem;
  height: 0.5rem;
  animation: ScrollHandle_bounce 1.6s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    infinite;
}
@media (min-width: 48rem) {
  .ScrollHandle_scroll-handle {
    display: flex;
  }
}
@keyframes ScrollHandle_bounce {
  50% {
    transform: translateY(-0.375rem);
  }
}

/* Product container */
.Product_product {
  isolation: isolate;
  position: relative;
  overflow: hidden;
  padding: var(--spacing-layout-vertical) var(--spacing-layout-horizontal);
}
.Product_product--dark {
  color: var(--color-white);
  background-color: var(--color-black);
}
.Product_product--light {
  color: var(--color-black);
  background-color: var(--color-white);
}
.Product_product__container {
  max-width: var(--site-width);
  margin: 0 auto;
}
